- if @projs.nil? or @projs.empty?
  %h1
    0 projects matching
    %code&= params[:q]
  :markdown
    Seems like there aren't any projects matching `#{h params[:q]}`.
    Maybe try [exploring](/all) popular projects.
  
- else
  %h1 
    == #{@projs.size} #{pluralize 'project', @projs} matching
    %code&= params[:q]
    = ":"
    
  %ul#proj-listing
    - for proj in @projs
      %li.proj
        .icon
          %a{:href=>"/proj/"+URI::escape(proj.name)}
            %img{:src=>proj.icon || "http://dummyimage.com/60x60/000/fff"}
        .details
          %h2.name= proj_link(proj)
          %span.summary&= proj.summary
          %span.authors&= proj.authors
